<p id="notice"><%= notice %></p>


<div class="container">
  <h1>Sản phẩm</h1>
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-lg-3 col-6">
    <div class="card" style="width: 100%;">
      <%= image_tag(product.thumbnail,class:"card-img-top img-fluid h-200") %>
    
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text"><%= product.desc[0..80]+ "..." %>
          </h5>
        </p>
        <span class="btn btn-primary">
          <%= link_to 'Xem chi tiết' , product %>
        </span>
      </div>
    </div>
    </div>
      <% end %>
  </div>
</div>

<%= link_to 'New Product', new_product_path %>
